{% extends "companywebsite/base.html" %}

{% block content %}

    <div class="contactcontent">    
    <h1>CONTACT US</h1>
    <div class="contactlists">
        <div class="contactlist"> 
            <h1> GEMMA (SALES MANAGER)</h1>
            <h2>ADDRESS : KG Campus, 365, Thudiyalur Rd, Saravanampatti, Keeranatham, Tamil Nadu, India - 641035</h2>
            <h3>PHONE :0422 - 441 9999</h3>
            <h4>EMAIL : siliconlimited@gmail.com</h4>
        </div>
    </div>
    </div>

{% endblock  %}