{% extends "companywebsite/base.html" %}

{% block content %}


<div class="productcontent">    
    <h1>PEOPLES</h1>
    <div class="productitems">
    {% for people in peoples %}
        <div class="productitem"> 
            <div class="itemimage">
            <img src="{{ people.photo.url }}" alt=" product image">
            </div>
            <div class="itemname">{{ people.Name }}</div>
            <div class="itemprice">{{ people.Designation }}</div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock  %}